@font-face{
    font-family:organ;
    src: url(Eatday.ttf);
}

@font-face{
    font-family:organs;
    src: url(Mabook.ttf);
}

@font-face{
    font-family:jet;
    src: url(Blackbook.ttf);
}

@font-face{
    font-family:jets;
    src: url(Trainspotter.ttf);
}

@font-face{
    font-family:turn;
    src: url(Trainspotter3D.ttf);
}

@font-face{
    font-family:turns;
    src: url(SoMeFlOwErS.ttf);
}

h1{ 
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'organ', cursive;
    color:red ;
}



body {
    background-color: greenyellow;
    margin: 6px;
    padding-left: 14px;
}

/* h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
} */

footer{
    color:black;
    font-size: 22px;
}

nav {
    display: flex;
    text-decoration: none;
}

nav a:hover,
nav a li:hover {
    text-decoration: underline;
    color: blue;
}


.dark-mode {
    background-color: black;
    color: white;
}

.gallery{
    display:flex;
    justify-content:space-around;
}
.gallery p{
    margin-left: 6px;
    margin-right: 6px;
}


.font1 {
    display:flex;
    justify-content:space-around;
    font-family: 'organs', cursive;
    margin: 0px 6px 0px 6px;
}

.font2 {
    display:flex;
    justify-content:space-around;
    font-family: 'organ', cursive;
}

.font3 {
    display:flex;
    justify-content:space-around;
    font-family: 'jet', cursive;
}

.font4 {
    display:flex;
    justify-content:space-around;
    font-family: 'jets', cursive;
}

.font5 {
    display:flex;
    justify-content:space-around;
    font-family: 'turn', cursive;
}

.font6 {
    display:flex;
    justify-content:space-around;
    font-family: 'turns', cursive;
}

/* body{
    padding: 0;
    margin: 0;
    background: #8AF3F9;
    background-size: cover;
}

.spinner1{
    display:block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin: -60px 0 0 -280px;
    -webkit-transition: -webkit-transform 1s;
}

.spinne1:hover{
    -webkit-transform: rotate(360deg) translateZ(0);
} */

@keyframes spin{
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }

}

.spinning{
    animation: spin 2s infinite;
}



.prop{
    background-image: url('background4');
    
}