{% extends 'base.html' %}

{% block content %}
<h1>what we do</h1>

<p>
    Animal sanctuary is on the frontline of pet poverty.
    Our charity vets help the pets of those in financial need. Today, thousands more need our help due to the impacts of the pandemic. We’re already struggling to cope. </p>

    <p>
    How can I help?
    For many vulnerable people, we’re their pet’s only emergency service
    There’s never a good time to ask for help
    2020 has been a hard year for everyone.
    At the end of the line are pets in desperate need.
    Pets loved by owners who struggle to pay for their urgent treatment.
    We’re often their only lifeline.
    
    You can make the difference between life and death for a vulnerable person’s beloved pet. <p>
    
    What we do…
    Animal sanctuary is a charity that provides vet care for those who struggle to pay to treat their sick and injured pets.
    We do this in our 48 Pet Hospitals right across the UK
    Hard times can affect any of us and right now more people than ever are being plunged into financial hardship due to the impacts of COVID-19. We’re here to provide care for pets who need us in their hour of need.  </p> <p>
    
    Pets contribute so much to human life, especially the nation’s most vulnerable people. Those that need our help most often include:
    The elderly
    Elderly
    People with long- or short-term illnesses
    Health
    People with disabilities
    Wheelchair
    Those struggling to find work
    Briefcase
    People in serious economic, financial and social hardship
    Chart
    For many of these people, their pet is their only companion in life.
    Without your help, their pets may have nowhere else to turn when they need vital care and treatment. </p>
    <p>
    
    Our funding crisis
    We’re on the frontline of pet care each and every day.
    We receive no government funding. Yet we help over 2.7 million pet owners across the UK.
    We’re here to help them, and the thousands more who will need our help as the financial impacts of the pandemic continue to take hold. This will be our greatest challenge yet, and for many of our vets and nurses the pet care crisis starts now.
    
    We predict 50,000 more pets will be eligible for our services over the months ahead.
    Help us be there for pets in need.
    How can I help?
    We believe that no pet should suffer due to poverty. To help us save thousands of pets in need, please: </p>

    <p>
    Donate
    Donate
    Donate now
    Shop
    Shop
    Shop now
    Leave a legacy gift
    Leave a legacy gift
    Leave a legacy gift
    Share
    Follow
    Follow us
    Fundraise
    Fundraise
    Fundraise now
    Volunteer
    Volunteer
    Volunteer </p>
    <p>
    Whatever you choose to do, your actions might just help save the life of a pet in need.
    
    For thousands of vulnerable people across the UK we really are their only emergency service. With more demand than ever before, the pet care crisis is just beginning. </p>
    
    But with your help, we can be there for the pets and owners who need us most. <p>
    
    They believe in you.
    Please believe in us.
    We help treat and save the pets of vulnerable people.</p>

    <p>
    For many, we’re their only hope. Help us be there when there’s nowhere else to go.
    
    If your pet needs help?
    If your pet’s poorly and in need of help, let’s get you to the right place. Find out what help we can offer. </p>
    <p>
    Get Support
    Starting to see worrying signs?
    Get advice from our vets to help your loved pet stay healthy. </p>
    <p>
    ABOUT Animal sanctuary
    Founded in 1917 by animal welfare pioneer, Maria Dickin CBE, PDSA is the UK’s leading veterinary charity. Operating through a UK-wide network of 48 Pet Hospitals, PDSA provides low cost and free veterinary care to the sick and injured pets of people in need and promotes responsible pet ownership </p>
    <p>
    QUICK LINKS
    FAQs
    Eligibility
    Donate
    Volunteer
    Fundraise
    Terms & Conditions
    Privacy Policy
    Modern Slavery
    DMAFundraising Regulator
    Registered charity nos. NOT REAL!!!
    © The People's Dispensary for Sick Animals
    DONTATE TO Animal sanctuary</p>





{% endblock %}
